{% comment %}
Include this with: {% include 'includes/rating_stars.html' with rating=listing.average_rating %}
{% endcomment %}

{% with total=rating|floatformat:1 %}
  {% for i in "xxxxx" %}
    {% if forloop.counter <= total|floatformat:0 %}
      <i class="fa-solid fa-star text-warning"></i>
    {% elif forloop.counter <= total %}
      <i class="fa-solid fa-star-half-stroke text-warning"></i>
    {% else %}
      <i class="fa-regular fa-star text-warning"></i>
    {% endif %}
  {% endfor %}
{% endwith %}

